.headerPage {
    display: flex;
    width: 100%;
    padding: 0.9rem 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    background-color: #FFF;
    z-index: 100;
}

.logoHeader {
    width: 45px;
    border-radius: 50%;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brandName {
    color: var(--blue-dark);
    font-weight: 500;
}

.options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.options svg {
    width: 24px;
    height: 24px;
    color: #000;
}

.options svg:hover {
    color: var(--blue-dark);
}
